.header-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  img {
    width: 80px;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    li{
      font-family: $heading-font;
    }
  }
  @media screen and (min-width: $mobile-breakpoint + 1){
    padding: 80px 50px;
    img{
      width: 200px;
    }
    ul{
      width: 20%;
    }
  }
}