@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
//primary
$main-bg-clr: hsl(218, 28%, 13%);
$into-bg-clr: hsl(217, 28%, 15%);
$testimonial-bg-clr: hsl(219, 30%, 18%);
$footer-bg-clr: hsl(216, 53%, 9%);
//accent
$cyan-accent: hsl(176, 68%, 64%);
$blue-accent: hsl(198, 60%, 50%);
$light-red-accent: hsl(0, 100%, 63%);
//typography
$body-font-size: 14px;
$heading-font: 'Raleway';
$body-font: 'Open Sans';
//breakpoints
$mobile-breakpoint: 375px;
$pc-breakpoint: 1440px;

